@import "src/styles/colors";
@import "src/styles/sizes";

.container {
    th {
        border: 1px solid $whiteGray;
        padding: 14px;
        min-height: 56px;
        font-size: 13px;
        color: $darkGray;

        @media screen and (max-width: $mobile) {
            padding: 10px;
        }
    }
}