@import "src/styles/colors";
@import "src/styles/sizes";

.container {
    color: $darkGray;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    cursor: pointer;

    @media screen and (max-width: $mobile) {
        font-size: 16px;
    }

    &:hover:not(.active) {
        color: $gray;
    }

    &.active {
        color: #7EBC3C;
    }
}